<%#
    Material is a clean HTML5 theme for LuCI. It is based on luci-theme-bootstrap and MUI

    luci-theme-material
        Copyright 2015 Lutty Yang <lutty@wcan.in>
            
    luci-theme-neobird
    Copyright 2021 2smile <thinktip@gmail.com>

    Have a bug? Please create an issue here on GitHub!
        https://github.com/LuttyYang/luci-theme-material/issues

    luci-theme-bootstrap:
    Copyright 2008 Steven Barth <steven@midlink.org>
    Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
    Copyright 2012 David Menting <david@nut-bolt.nl>

    MUI:
    https://github.com/muicss/mui

    Licensed to the public under the Apache License 2.0
-%>

<%
    local ver = require "luci.version"
    local disp = require "luci.dispatcher"
    local request  = disp.context.path or {}
    local category = request[1] or ""
    local tree = disp.node() or {}
    local categories = disp.node_childs(tree) or {}
%>
                </div>
                <footer class="footer" style="text-align:center">
                    <!-- 引用 LuCI 核心版本信息 -->
                    <a href="https://github.com/openwrt/luci">Powered by <%= ver.luciname or "" %></a> |
                    <a href="https://www.openwrt.org/"><%= ver.distversion or "" %></a>
                    <br />
                    © 2021-2022 2smile. All Rights Reserved.

                    <% if #categories > 1 then %>
                    <ul class="breadcrumb pull-right" id="modemenu">
                        <% for i, r in ipairs(categories) do
                            local nnode = tree.nodes[r] or {}
                            local is_active = (request[1] == r) and "class=\"active\"" or ""
                        %>
                        <li <%= is_active %>>
                          <a href="<%= pcdata(disp.build_url(r .. "/")) %>">
                            <%= striptags(translate(nnode.title or "")) %>
                          </a> <span class="divider">|</span>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </footer>
            </div>
        </div>

    <script>
        // thanks for Jo-Philipp Wich <jow@openwrt.org>
        var luciLocation = <%= luci.http.write_json(disp.context.path or {}) %>;
    </script>

    <!-- 如果你的主题自带 jquery.min.js，请确保放在 htdocs/luci-static/neobird/js/jquery.min.js -->
    <script src="<%= resource("neobird/js/jquery.min.js") %>?<%= ver.luciversion or "" %>"></script>
    <!-- 如果你的主题自带 script.js，请确保放在 htdocs/luci-static/neobird/js/script.js -->
    <script src="<%= resource("neobird/js/script.js") %>?<%= ver.luciversion or "" %>"></script>
</body>
</html>

