<%#
        Material is a clean HTML5 theme for LuCI. It is based on luci-theme-bootstrap and MUI

        luci-theme-material
        Copyright 2015 Lutty Yang <lutty@wcan.in>

        luci-theme-neobird
        Copyright 2021 2smile <thinktip@gmail.com>

        Have a bug? Please create an issue here on GitHub!
        https://github.com/thinktip/luci-theme-neobird

        luci-theme-bootstrap:
        Copyright 2008 Steven Barth <steven@midlink.org>
        Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
        Copyright 2012 David Menting <david@nut-bolt.nl>

        MUI:
        https://github.com/muicss/mui

        Licensed to the public under the Apache License 2.0
-%>

<%
        local ver = require "luci.version"
        local sys  = require "luci.sys"
        local util = require "luci.util"
        local http = require "luci.http"
        local disp = require "luci.dispatcher"

        -- 获取主机名
        local boardinfo = util.ubus("system", "board") or {}
        boardinfo.hostname = sys.hostname() or boardinfo.hostname or "?"

        -- 拿到当前请求路径，用于菜单高亮等
        local request  = disp.context.path or {}
        local request2 = disp.context.request or {}

        -- 类别（如 "admin"、"network" 等）
        local category = request[1] or ""
        local cattree  = (category and disp.node(category)) or {}

        local leaf = request2[#request2] or ""

        local tree = disp.node() or {}
        local node = disp.context.dispatched or {}

        local categories = disp.node_childs(tree) or {}

        -- 递归给所有节点打上选中标记
        local c = tree
        for i, r in ipairs(request or {}) do
                if c.nodes and c.nodes[r] then
                        c = c.nodes[r]
                        c._menu_selected = true
                end
        end

        -- 标记响应内容为 HTML5
        http.prepare_content("text/html")
-%>
<!DOCTYPE html>
<html lang="<%= luci.i18n.context.lang or "en" %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover" />
    <!-- 如果你有 manifest.json，放在 htdocs/luci-static/neobird/manifest.json -->
    <link rel="manifest" href="<%= resource("neobird/manifest.json") %>">
    <title>
        <%= striptags( (boardinfo.hostname or "?") .. ((node and node.title) and " - " .. translate(node.title) or "")) %> - LuCI
    </title>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-page-mode" content="app">
    <meta name="browsermode" content="application">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
    <meta name="application-name" content="<%= striptags(boardinfo.hostname) %>">
    <meta name="apple-mobile-web-app-title" content="<%= striptags(boardinfo.hostname) %>">
    <meta name="msapplication-TileImage" content="<%= resource("neobird/images/icon.png") %>"/>
    <link rel="icon" href="<%= resource("neobird/images/icon.png") %>" sizes="192x192">
    <link rel="apple-touch-icon" sizes="192x192" href="<%= resource("neobird/images/icon.png") %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes" />

    <!-- 引入主题的主体样式 -->
    <link rel="stylesheet" href="<%= resource("neobird/css/style.css") %>">

    <!-- 如果有 node.css，可以继续这样写 -->
    <% if node and node.css then %>
        <link rel="stylesheet" href="<%= resource("neobird/" .. node.css) %>">
    <% end -%>

    <!-- 如果 templates 中传入了内嵌 css，也可一并输出 -->
    <% if css then %>
        <style title="text/css"><%-= css %></style>
    <% end -%>

    <!-- 如果你主题里有自带的 xhr.js 放在 htdocs/luci-static/neobird/xhr.js，那么这样引用；否则可删去 -->
    <script src="<%= resource("neobird/xhr.js") %>?<%= ver.luciversion or "" %>"></script>
</head>

<body class="lang_<%= luci.i18n.context.lang or "" %> <%- if node then %><%= striptags(node.title or "") %><%- end %> <% if luci.dispatcher.context.authsession then %> logged-in <% end %>">

<header>
    <div class="navbar">
        <a href="<%= disp.build_url("admin/status/overview") %>"><img src="<%= resource("neobird/images/home.png") %>" /></a>
        <a href="<%= disp.build_url("admin/services/shadowsocksr") %>"><img src="<%= resource("neobird/images/ssr.png") %>" /></a>
        <a href="<%= disp.build_url("admin/network/network") %>"><img src="<%= resource("neobird/images/link.png") %>" /></a>
        <a href="<%= disp.build_url("admin/status/realtime") %>"><img src="<%= resource("neobird/images/rank.png") %>" /></a>
        <a href="<%= disp.build_url("admin/system/admin") %>"><img src="<%= resource("neobird/images/user.png") %>" /></a>
    </div>

    <div class="container">
        <span class="showSide"></span>
        <img src="<%= resource("neobird/images/logo.png") %>" alt="<%= striptags(boardinfo.hostname) %>"/>

        <div class="pull-right">
        <%
        -- 如果当前节点有未保存的 UCI 更改，显示对应提示
        if tree.nodes[category or ""] and tree.nodes[category or ""].ucidata then
            local ucichanges = 0
            for i, j in pairs(require("luci.model.uci").cursor():changes()) do
                for k, l in pairs(j) do
                    for m, n in pairs(l) do
                        ucichanges = ucichanges + 1
                    end
                end
            end
        %>
            <% if ucichanges > 0 then %>
                <a class="label notice"
                   href="<%= disp.build_url(category or "", "uci/changes") %>?redir=<%= http.urlencode(http.formvalue("redir") or table.concat(disp.context.request or {}, "/")) %>">
                  <%= translate("Unsaved Changes") %>: <%= ucichanges %>
                </a>
            <% end %>
            <span id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">
                <span class="label success" id="xhr_poll_status_on">
                   <span id="refresh_on" class="mobile-hide"></span>
                </span>
                <span class="label" id="xhr_poll_status_off" style="display:none">
                   <span id="refresh_off" class="mobile-hide"></span>
                </span>
            </span>
        <% end %>
        </div>
    </div>
</header>

<div class="main">
    <div class="main-left">
        <ul class="nav">
        <%-
        -- 这里是侧边菜单部分，如果没有就留空
        local function submenu(prefix, node)
            local childs = disp.node_childs(node) or {}
            if #childs > 0 then
        %>
            <ul class="slide-menu">
            <%-
            for i, r in ipairs(childs) do
                local nnode = node.nodes[r] or {}
                local href  = disp.build_url(prefix .. r .. (nnode.query and http.build_querystring(nnode.query) or ""))
            %>
                <li>
                  <a data-title="<%= pcdata(striptags(translate(nnode.title or ""))) %>"
                     href="<%= pcdata(href) %>">
                    <%= pcdata(striptags(translate(nnode.title or ""))) %>
                  </a>
                </li>
            <%-
            end
            %>
            </ul>
        <%-
            end
        end

        local childs = disp.node_childs(cattree) or {}
        if #childs > 0 then
            for i, r in ipairs(childs) do
                local nnode = cattree.nodes[r] or {}
                local href  = disp.build_url(category .. "/" .. r .. (nnode.query and http.build_querystring(nnode.query) or ""))
                local grandchildren = disp.node_childs(nnode) or {}

                if #grandchildren > 0 then
        %>
                <li class="slide">
                    <a class="menu" data-title="<%= pcdata(striptags(translate(nnode.title or ""))) %>" href="#">
                      <%= pcdata(striptags(translate(nnode.title or ""))) %>
                    </a>
                    <%- submenu(category .. "/" .. r .. "/", nnode) %>
                </li>
        <%          else %>
                <li class="slide">
                    <a class="menu2" data-title="<%= pcdata(striptags(translate(nnode.title or ""))) %>"
                       href="<%= pcdata(href) %>">
                      <%= pcdata(striptags(translate(nnode.title or ""))) %>
                    </a>
                </li>
        <%
                end
            end
        end
        %>
        </ul>
    </div>

    <div class="main-right">
        <div class="darkMask"></div>
        <div id="maincontent">
            <div class="container">
                <%- if luci.sys.process.info("uid") == 0
                        and luci.sys.user.getuser("root")
                        and not luci.sys.user.getpasswd("root")
                    then -%>
                    <div class="alert-message warning">
                        <h4><%:No password set!%></h4>
                        <%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%><br>
                        <a href="<%= pcdata(disp.build_url("admin/system/admin")) %>"><%:Go to password configuration...%></a>
                    </div>
                <%- end -%>

                <% if category and cattree then subtree("/" .. category .. "/", cattree) end %>
            </div>

